* {
	box-sizing: border-box;
	user-select: none;
}

img {
	max-width: 100%;
}

html {
	margin: 0;
	padding: 0;
	background: #281d8d;
	font-family: Cambria;
	color: #fff;
	width: 100%;
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

.title {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.title > p {
	font-weight: bold;
	text-align: center;
	padding: 0;
}

.points {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.points > p {
	font-weight: bold;
	text-align: center;
	padding: 0;
}

.bingo {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: space-evenly;
	flex-wrap: wrap;
}

.bingo > div {
	position: relative;
	margin: 1vw;
	padding: 0;
	width: 22vw;
	height: 22vw;
	background-color: #fff7b1;
}

.bingo input[type=checkbox] {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	opacity: 0;
}

.bingo > div div {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

.bingo > div p {
	padding: 0;
	text-align: center;
	font-weight: bold;
	color: black;
	z-index: 1;
	pointer-events: none;
}

.bingo input[type="checkbox"]:checked + div {
	background: rgba(255, 255, 255, 0.5);
}

@media (min-width: 800px) {
	.title > p {
		font-size: 70px;
		margin: 50px 0 50px 0;
	}

	.points > p {
		font-size: 35px;
		margin: 0 0 25px 0;
	}

	.bingo > div p {
		margin: 0 30px 0 30px;
		font-size: 20px;
	}

	.bingo > div p:nth-of-type(2) {
		margin-top: 40px;
	}
}

@media (min-width: 500px) and (max-width: 800px) {
	.title > p {
		font-size: 45px;
		margin: 20px 0 20px 0;
	}

	.points > p {
		font-size: 20px;
		margin: 0 0 10px 0;
	}

	.bingo > div p {
		margin: 0 10px 0 10px;
		font-size: 15px;
	}

	.bingo > div p:nth-of-type(2) {
		margin-top: 25px;
	}
}

@media (min-width: 300px) and (max-width: 500px) {
	.title > p {
		font-size: 20px;
		margin: 10px 0 10px 0;
	}

	.points > p {
		font-size: 10px;
		margin: 0 0 5px 0;
	}

	.bingo > div p {
		margin: 0 5px 0 0;
		font-size: 8px;
	}

	.bingo > div p:nth-of-type(2) {
		margin-top: 10px;
	}
}

@media (max-width: 300px) {
	.title > p {
		display: none;
	}

	.points > p {
		display: none;
	}

	.bingo > div p {
		display: none;
	}
}

@keyframes background {
    0% { background: #800f00; }
    50% { background: #806200; }
	100% { background: #800f00; }
}

@keyframes shadow {
    0% { box-shadow: inset 0 0 20px 20px #444; }
    50% { box-shadow: inset 0 0 60px 20px #444; }
	100% { box-shadow: inset 0 0 20px 20px #444; }
}